apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: todolist-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: registry.nipa.cloud/todolist-app/frontend
          ports:
            - containerPort: 3000
          env:
          - name: NODE_ENV
            value: production
          - name: API_BASE_URL
            value: http://backend-service:5000
          
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10